<!DOCTYPE html>
<html>
<head>
    <title>Simple Webpage Layout</title>
    <link rel="stylesheet" type="text/css" href="joget.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="https://www.joget.com/uploads/1/1/0/7/110741335/joget-logo-rgb.png" alt="Joget Logo">
    </div>
    <nav>
        <ul>
            <li><a href="https://www.joget.com/">Home</a></li>
            <li><a href="https://www.joget.com/reviews.html">About</a></li>
            <li><a href="https://www.joget.com/contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to Our Website</h1>
    <p>Joget is the best in class low code development application available in the market. It has intuitive features
        like drag and drop, point and click for creating the application which can be done by people who do not have
        coding knowledge. It has the flexibility of building enterprise apps for web and mobile. A must have
        application for low code platform.
    </p>
</main>
<footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
    <p><a href="https://www.joget.com/privacy-policy.html">Privacy Policy</a></p>
</footer>
</body>
</html>
