<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Portal</title>
    <link rel="stylesheet" href="" th:href="@{commonStyle.css}">
    <style>
<!--        body{background-color: powder-blue;}-->
<!--        h1{-->
<!--            color: white;-->
<!--            font-size: 300%-->
<!--        }-->
<!--        h2{-->
<!--            color: white;-->
<!--            font-size: 200%-->
<!--        }-->
<!--        p{-->
<!--           color: black;-->
<!--           font-size: 150%-->
<!--        }-->
<!--        img{-->
<!--          width: 200px;-->
<!--          height: 200px;-->
<!--        }-->
    </style>
</head>
<body>

<!--<img src="" class="profile" th:src="@{image/anik.jpg}" alt="My Image" /><br><br>-->
<!--<img src="" class="profile" th:src="@{UK.jpg}" alt="My Image" />-->
<!--<img src = "scenere.jpg">-->
<!--<img th:src="@{anik.png}">-->

<div class="main">
    <h1 class="design">Online Book Portal</h1><br><br>
    <p class="link">
        <a href="#"><b>ADMIN</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><b>STORE</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><b>ADD BOOK</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><b>ADD AUTHOR</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><b>ABOUT</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><b>CONTACT US</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>

<br><br>
    <h2 class="line">NEW RELEASES BOOKS</h2>

    <div class="list">
    <ul>
        <li><b>Massage</b></li>
        <li><b>The Design Reality</b></li>
        <li><b>Akash The Believer</b></li>
        <li><b>পেরাডক্সিক্যাল সাজিদ</b></li>
        <li><b>বেলা ফুরাবার আগে</b></li>
        <li><b>পেরাডক্সিক্যাল সাজিদ ২</b></li>
        <li><b>জীবন যেখানে যেমন</b></li>
        <li><b>এইবার ভিন্ন কিছু হোক</b></li>
        <li><b>মা মা মা বাবা</b></li>
        <li><b>কুরআন থেকে নেওয়া জীবনের পাঠ</b></li>
        <li><b>নবী জীবনের গল্প</b></li>
        <li><b>জনাব </b></li>
        <li><b>রাহে বেলায়েত </b></li>
    </ul>
    </div>

    <br>
    <h2 class="line2">WHAT WE DO</h2>
    <br>
    <pre class="paragraph">
        <b>
        Though few of us will ever become communicators of Malcolm X’s stature, we can emulate him by seeking deeper and broader knowledge which will
        allow us to communicate with our family, friends, neighbors, and fellow citizens in a richer, more enjoyable, and more effective manner than
        we could if we were not serious readers.
        The goal of reading, in short, should be both instruction and enjoyment. A balance needs to be struck: Too much instruction can make reading
        a painful, boring task; while reading for sheer entertainment or escapism prevents the reader from ever attaining the benefits of “deep reading”
        with their ever-richer rewards and ever-more-profound joys.
        </b>
    </pre>
</div>


</body>
</html>
