<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book_portal</title>
    <style>
<!--        img{-->
<!--          width: 100px;-->
<!--          height: 100px;-->
<!--        }-->
    </style>


    <link rel="stylesheet" href="" th:href="@{style.css}">
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->

</head>
<body>

<!--<div class = "container">-->
<!--    <h2 style = "text-align:center;" class= "blue">-->
<!--        Some Beautiful Images:-->
<!--    </h2>-->
<!--    <img src="" class="profile" th:src="@{/image/anik.jpg}" alt="" />-->
<!--    <p>I am learning CSS now !</p>-->
<!--    <div class="box"></div>-->
<!--</div>-->

<!--<img src="" class="profile" th:src="@{image/anik.jpg}" alt="My Image" />-->

<div class="main">
    <div class="navbar">
        <div class="icon">
            <h1 class="logo">Online Book Portal</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">ADMIN</a> </li>
                <li><a href="#">STORE</a> </li>
                <li><a href="#">SERVICE</a> </li>
                <li><a href="#">DESIGN</a> </li>
                <li><a href="#">CONTACT</a> </li>

            </ul>
        </div>

        <div class="search">
            <input class="srch" type="search" name="" placeholder="Type To Text">
            <a href="#"><button class="btn">Search</button> </a>
        </div>


        <div class="content">
            <h1>Why we need to read books</h1>
            <p class="par">
                The goal of reading, in short, should be both instruction and enjoyment. <br>A balance needs to be struck: Too much instruction can make reading
                a <br> painful, boring task; while reading for sheer entertainment or escapism <br> prevents the reader from ever attaining the benefits of “deep reading”
                <br> with their ever-richer rewards and ever-more-profound joys.
            </p>
        </div>

        <div class="form">
            <h2>Login here</h2>
            <input type="email" name="email" placeholder="Enter Email here">
            <input type="password" name="email" placeholder="Enter password here">
            <button class="btnn"><a href="use a page link">Login</a></button>

            <p class="link">Don't have an account<br>
                <a href="#">Sign up </a> here </p>
            <p class="liw">Log in with</p>

<!--            for a perfect execution inactive those 5 logo area-->
            <div class="icon">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
            </div>

        </div>

    </div>
</div>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>


</body>
</html>
















